# CDK-specific files
cdk.out/
cdk.context.json

# TypeScript compiled files
*.js
*.d.ts
!jest.config.js

# Dependencies
node_modules/
package-lock.json

# Testing
coverage/
.nyc_output/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local